/* styles.css */

.mySwiper {
  width: 100%;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  padding: 20px;
  box-sizing: border-box;
}

.card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.card p {
  margin: 0;
  text-align: center;
}
