body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;

}

.cmd2 {
  width: 100%;
  height: 100vh;
  text-align: center;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/images/bg1.png'); /* Adjust alpha (last value) for transparency */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.cmd1 {
  width: 100%;
  height: 100vh;
  text-align: center;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/images/bg1.png'); /* Adjust alpha (last value) for transparency */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.cmdExpand1 {
  width: 100%;
  height: 100vh;
  text-align: center;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/images/bg1.png'); /* Adjust alpha (last value) for transparency */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}


nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.nav-left {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Manrope-VariableFont_wght', sans-serif;
}

.nav-right {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: 70px;
}

.hero-section {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

@font-face {
  font-family: 'PerpetuaTitlingMTLight2'; /* Replace with a preferred name for your font */
  src: url('./assets/fonts/perpetua-titling-mt/PerpetuaTitlingMTLight2.ttf') format('truetype'); /* Replace with the correct file path and format */
  /* You can include additional src declarations for different font formats */
}


/* Use the defined font in your styles */
.hero-section h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  font-family: 'PerpetuaTitlingMTLight2', sans-serif; /* Use the font-family you defined */
}

@font-face {
  font-family: 'Manrope-VariableFont_wght'; /* Replace with a preferred name for your font */
  src: url('./assets/fonts/Manrope/Manrope-VariableFont_wght.ttf') format('truetype'); /* Replace with the correct file path and format */
  /* You can include additional src declarations for different font formats */
}

.hero-section p {
  font-size: 1.2em;
  width: 70%;
  text-align: center;
  margin: 0 auto; /* Center the paragraph horizontally */
  margin-bottom: 50px;
  font-family: 'Manrope-VariableFont_wght', sans-serif;
}


.image-container {
  display: flex;
  justify-content: space-between;
}

.image-container img {
  width: 220px;
  height: 250px;
  /* border: 3px solid gold; */
  border-radius: 5px;
}

.image-container p {
  margin-top: 10px;
  font-size: 0.9em;
  color: #fff;
  max-width: 200px; /* Adjust this value based on your preference */
  white-space: normal; /* Allow the text to wrap to the next line */
  font-family: 'Manrope-VariableFont_wght', sans-serif;

}

.command-text {
  font-family: 'Manrope-VariableFont_wght', sans-serif;
}

.head-text {
  font-size: 45px;
  font-family: 'Manrope-VariableFont_wght', sans-serif;
  white-space: normal;
  margin: 0;
}
